@model UsersDeleteVm

<h3>Vill du radera denna användare?</h3>

<div class="card">
    <div class="card-body">
        <p class="card-text"><b>Användarnamn:</b> @Model.User?.UserName</p>
        <p class="card-text"><b>Email:</b> @Model.User?.Email</p>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="User!.Id">
            <button type="submit" value="Delete" class="btn btn-danger">Ta bort</button>
            <a href="/User" class="btn btn-primary">Tillbaka</a>
        </form>
    </div>
</div>