@model ArticleDeleteVm

<div class="container d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="text-center mb-2">Vill du radera denna artikel?</h1>
                <p class="text-center mb-2"><b>Det g책r inte att 책terst채lla efter bekr채ftelse</b></p>
                <hr />

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <strong>Namn</strong>
                    </div>
                    <div class="col-12 col-md-8">
                        @Html.DisplayFor(model => model.Article.Name)
                    </div>
                </div>
                <hr />

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <strong>Beskrivning</strong>
                    </div>
                    <div class="col-12 col-md-8">
                        @Html.DisplayFor(model => model.Article.Description)
                    </div>
                </div>
                <hr />

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <strong>Pris</strong>
                    </div>
                    <div class="col-12 col-md-8">
                        @Html.DisplayFor(model => model.Article.Price)
                    </div>
                </div>

                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="Article.Id" />
                    <input type="hidden" asp-for="Previous" />

                    <div class="form-group text-center mt-4">
                        <a href="/Home" class="btn btn-primary mr-3">Tillbaka till profil</a>
                        <input type="submit" value="Radera" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
