@model ArticleDeleteVm

<div class="container d-flex justify-content-center align-items-center" style="min-width: 800px; min-height: 600px;">
    <div class="col-md-8">
        <div class="card shadow-sm" style="min-height: 500px;">
            <div class="card-body">
                <h1 class="text-center mt-3" style="font-size: 2.5rem;">Vill du radera denna artikel?</h1>
                <p class="text-center mb-4" style="font-size: 1.2rem; font-weight: bold;">Det g책r inte att 책terst채lla efter bekr채ftelse</p>
                <hr />

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <strong style="font-size: 1.1rem;">Namn</strong>
                    </div>
                    <div class="col-12 col-md-8">
                        <p style="font-size: 1.1rem;">@Html.DisplayFor(model => model.Article.Name)</p>
                    </div>
                </div>
                <hr />

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <strong style="font-size: 1.1rem;">Beskrivning</strong>
                    </div>
                    <div class="col-12 col-md-8">
                        <p style="font-size: 1.1rem;">@Html.DisplayFor(model => model.Article.Description)</p>
                    </div>
                </div>
                <hr />

                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <strong style="font-size: 1.1rem;">Pris</strong>
                    </div>
                    <div class="col-12 col-md-8">
                        <p style="font-size: 1.1rem;">@Html.DisplayFor(model => model.Article.Price)</p>
                    </div>
                </div>

                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="Article.Id" />
                    <input type="hidden" asp-for="Previous" />

                    <div class="form-group text-center mt-5">
                        <a href="/Home" class="btn btn-primary mr-3" style="font-size: 1.2rem; padding: 10px 20px;">Tillbaka till profil</a>
                        <input type="submit" value="Radera" class="btn btn-danger" style="font-size: 1.2rem; padding: 10px 20px;" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
