@model ArticleEditVm

<div class="card shadow-sm rounded">
    <div class="card-body">
        <h3 class="card-title">Redigerar existerande artikel: "@Model.Name"</h3>

        <div class="alert alert-info" role="alert">
            <strong>Nuvarande namn:</strong> @Model.Name<br />
            <strong>Nuvarande beskrivning:</strong> "@Model.Description"<br />
            <strong>Nuvarande pris:</strong> @Model.Price kr
        </div>

        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label">Namn</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Beskrivning</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageUrl" class="form-label">Bild url</label>
                <input type="text" asp-for="ImageUrl" placeholder="https://www.example.com/img.png"
                    class="form-control">
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">Pris</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-success mt-2" />
                <a href="/Article" class="btn btn-primary mt-2">Tillbaka till artiklar</a>
            </div>
        </form>
    </div>
</div>
